body {
  font-family: Arial, sans-serif;
  background-image:url("bg.avif");
  background-repeat:repeat;
  background-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-container {
  text-align: center;
  background: white;
  padding: 60px;
  border-radius: 35px;
  box-shadow: 0 0 10px rgb(66, 8, 211);
}

input {
  padding: 40px;
  margin-top: 20px;
  width: 250px;
}

button {
  padding: 10px 15px;
  background-color: #1976d2;
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
  font-size: 1.1rem;
}








